#
# Ci-dessous les variables pour configurer les conteneurs de cidemis-docker
# il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#

######################################################
# Paramètres globaux
######################################################
MEM_LIMIT=5g
CPU_LIMIT=0.5
CIDEMIS_WEB_VERSION=develop-web
CIDEMIS_BATCH_VERSION=develop-batch

######################################################
# Paramètres cidemis globaux
######################################################
CIDEMIS_SPRING_PROFILES_ACTIVE= dev
CIDEMIS_CIDEMIS_DATASOURCE_URL=_____A_COMPLETER_____
CIDEMIS_CIDEMIS_DATASOURCE_USERNAME=_____A_COMPLETER_____
CIDEMIS_CIDEMIS_DATASOURCE_PASSWORD=_____A_COMPLETER_____
CIDEMIS_CODE_PAYS_URL=_____A_COMPLETER_____
CIDEMIS_PSI_LIEN_PERENNE_ISSN=_____A_COMPLETER_____
CIDEMIS_MAIL_WS_URL=_____A_COMPLETER_____
CIDEMIS_CIDEMIS_URL=_____A_COMPLETER_____
CIDEMIS_CBS_URL=_____A_COMPLETER_____
CIDEMIS_CBS_PORT=_____A_COMPLETER_____
CIDEMIS_CBS_LOGIN=_____A_COMPLETER_____
CIDEMIS_CBS_PASSWORD=_____A_COMPLETER_____
CIDEMIS_WSAUTHSUDOC_URL=_____A_COMPLETER_____
CIDEMIS_MAIL_WS_TESTEURS=_____A_COMPLETER_____
CIDEMIS_MAIL_WS_CIEPS=_____A_COMPLETER_____
CIDEMIS_MAIL_WS_NOREPLY=_____A_COMPLETER_____
CIDEMIS_MAIL_WS_USERNAME=_____A_COMPLETER_____
CIDEMIS_MAIL_WS_PASSWORD=_____A_COMPLETER_____
CIDEMIS_PATH_MAIL_MENSUEL=_____A_COMPLETER_____



######################################################
# CIDEMIS WEB
######################################################

CIDEMIS_WEB_PATH_JUSTIFICATIFS=_____A_COMPLETER_____

######################################################
# cidemis-batch
######################################################
CIDEMIS_BATCH_PATH_STATISTIQUES=_____A_COMPLETER_____
CIDEMIS_BATCH_CRON_STATS=_____A_COMPLETER_____
CIDEMIS_BATCH_CRON_MAILING=_____A_COMPLETER_____


######################################################
# Paramétrage de cidemis-watchtower
######################################################
# Pour les notifications slack des déploiements continus de qualimarc
# cf https://containrrr.dev/watchtower/notifications/#slack
# A noter : penser à indiquer le nom de l'environnement dev, test, prod
# au niveau de la variable WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER pour pouvoir
# mieux distinguer sur quel machine a été réalisé le déploiement
# - en local laisser CIDEMIS_WATCHTOWER_RUN_ONCE=true
# - en dev, test, prod, positionner QUALIMARC_WATCHTOWER_RUN_ONCE=false
CIDEMIS_WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=local cidemis-watchtower
CIDEMIS_WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/xxx/yyyyyyyyyyyyyyy
CIDEMIS_WATCHTOWER_RUN_ONCE=true
